/* English font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Sinhala font */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&display=swap');

/* Tamil font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@400;600&display=swap');

/* Default English */
html[lang="en"] body {
  font-family: 'Poppins', sans-serif;
}

/* Sinhala */
html[lang="si"] body {
  font-family: 'Abhaya Libre', serif;
}

/* Tamil */
html[lang="ta"] body {
  font-family: 'Noto Sans Tamil';
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #050755;
  --color-primary-second: #ed1b24;
  --color-primary-dark: #043b83;
  --color-primary-hover: #2f86f8;
  --hover: #0790cf;
  --color-secondary: #e0e9fc;
  --color-secondary-hover: #c5d5f5;
  --color-text: #111827;
  --color-text-white: #ffffff;
  --color-background: #ffffff;
  --color-border: #e5e7eb;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --border-radius: 0.375rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3.1rem;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --gradient: linear-gradient(0deg, var(--color-primary) 0%, var(--color-primary-second) 100%);
}

*{
  /* border: 1px solid red; */

}

body {
  /* font-family: Poppins, sans-serif; */
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--spacing-4);
}

/* Buttons */

.primary-button {
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-text-white);
  /* background: var(--gradient); */
  background-color: var(--color-primary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}