/* Header and Footer */
.header {
  width: 100%;
  background-color: #ffffff00;
  padding: var(--spacing-4) 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.logo-img{
  width: 100px;
}

.header.scrolled {
  background-color: #ffffff;
  /* example darker background */
  transition: background-color 0.3s ease;
}

.nav-link.scrolled {
  color: #5a5959;
}

.f-desc {
  color: #5a5959 !important;
}

.nav {
  display: flex;
  gap: var(--spacing-8);
}

.nav-link {
  color: var(--color-text);
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center
}

.nav-link:hover {
  color: var(--hover);
  text-decoration: none;
}

.nav-link.active {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: under;
}
/* Mobile styles */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  display: block;
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #cec3ac;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
  z-index: 999;
}

.translate-select{
  border-radius: var(--border-radius);
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--font-size-sm);
  background-color: #00000000;
  color: var(--color-text);
  cursor: pointer;
}


/* Hero Section */

.hero {
  width: 100%;
  height: 100vh;
  background: url('../assets/hero.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
}

.hero-content{
  width: 45%;
  height: 200px;
  border: 1px solid red;
  margin-top: 150px;
}

/* Desktop (min-width: 768px) */
@media (min-width: 768px) {
  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 32px;
    padding: 0;
    box-shadow: none;
  }

  .menu-toggle {
    display: none;
  }
}