.services-outer {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url("../assets/service.jpg") center/cover no-repeat fixed;
    padding: 25px 0 60px 0;
}

.services-outer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 1;
}

.services-outer > * {
    position: relative;
    z-index: 2;
}

.service-content-outer {
    margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

*{
    /* border: 1px solid red; */
}

.service-card {
    flex: 1 1 45%;
    min-width: 350px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ffffff;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-10px);
    /* background: linear-gradient(135deg, var(--color-primary) 0%, #1a1a1a 100%); */
    background-color: white;
    color: #000000;
}

.service-icon {
    font-size: 40px;
    color: #333;
    transition: color 0.3s ease;
}

.service-card:hover .service-icon {
    color: black;
}

.service-card:hover .service-title, .service-card:hover .service-desc{
    color: black;
}

.service-title {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    text-align: left;
    padding-left: 10px;
}

.service-desc {
    font-size: 14px;
    color: #333;
    text-align: left;
    padding-left: 10px;
}

/* ---------- Responsive ---------- */
@media (max-width: 900px) {
    .service-content-outer {
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
        width: 90%;
    }

    .service-card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .service-content-outer {
        flex-direction: column;
        align-items: center;
    }
    .service-card {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .service-card {
        min-width: 200px;
        width: 90%;
        padding: 15px;
    }
}